header.main-header {
  /* centering owned by the `center` layout primitive */
  --layout-threshold: var(--layout-width);

  padding-block: var(--space-layout);

  a.logo {
    --layout-gap: 0.4em;

    align-items: center;
    color: var(--color-text-0);
    position: relative;
    font-family: var(--monospace);
    font-variation-settings: var(--font-vars-logo);
    text-decoration: none;

    svg.glyph {
      height: var(--size-glyph);
    }

    &:is(:hover, :focus) .glyph {
      animation: wiggle 0.6s;
    }
  }

  nav a:not(:is([aria-current], :hover, :focus)) {
    text-decoration-color: transparent;
  }
}
