@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-14deg);
  }
  60% {
    transform: rotate(11deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle-reverse {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-11deg);
  }
  80% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
