body {
  display: flex;
  flex-direction: column;
  color: var(--color-text-0);
  background-color: var(--color-surface-0);
  z-index: 1;
  padding-inline: var(--space-layout);
  font-family: var(--sans-serif);
  font-variation-settings: var(--font-vars-default);
  font-size: var(--size-body);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--sans-serif);
  font-variation-settings: var(--font-vars-header);
  font-weight: var(--fw-bold);
  color: var(--color-title);
}

h1 {
  font-size: var(--size-title);
}

h2 {
  font-size: var(--size-header);
}

h3 {
  font-size: var(--size-subheader);
}

i,
.italic {
  font-variation-settings: "CRSV" 1;
}

::selection {
  color: var(--color-surface-0);
  background: var(--color-text-0);
  text-decoration: none;
}

section {
  width: 100%;
}
