@keyframes wiggle {
  0% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(-10deg);
  }
  60% {
    transform: skew(8deg);
  }
  80% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(0deg);
  }
}

.wiggle {
  animation: wiggle 0.5s;
}
