/**
 * REDIRECT LINKS
 *
 * Links with a clear intention to move users to a different page (e.g.
 * overview page).
 */

.btn {
  --button-text: var(--color-text-0);

  text-align: center;
  font-weight: var(--fw-bold);
  color: var(--button-text);
}

.btn:is(:hover, :focus) {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.97);
}
