---
layout: page
title: /now
sticker: svg/sticker-tech.svg
---

<article class="--main prose-flow">
  <ul>
    <li><b>Working</b>: Head of Technical Innovation at Finaps. </li>
    <li><b>Playing</b>: Trials in the Sky 1st Chapter (Nintendo Switch 2)</li>
    <li><b>Watching</b>: Suits</li>
    <li><b>Reading</b>: Star Wars The Mask Of Fear (Alexander Freed)</li>
    <li><b>Vibing</b>: Seeing how I feel about this AI thing and its impact on software development and security. </li>
  </ul>
</article>

<aside class="--side">
  {%- from 'partials/meta.njk' import metadata %}
  {{ metadata({ card: true }) }}
</aside>
